name: Coding Standards

on:

    push:
        branches:
            - main

    pull_request:

jobs:

    php-cs-fixer:

        name: PHP Coding Standards
        runs-on: ubuntu-latest

        steps:

            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup tools
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.0
                  tools: php-cs-fixer:2, cs2pr
                  coverage: none

            - run: mkdir var

            - name: Cache PHP Coding Standards
              uses: actions/cache@v4
              with:
                  path: var/.php_cs.cache
                  key: php-cs-fixer-${{ github.sha }}
                  restore-keys: php-cs-fixer-

            - name: Run PHP Coding Standards
              run: php-cs-fixer fix --dry-run --format=checkstyle | cs2pr
